@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body, .stApp {
    background-color: #eaebea !important;
    font-family: 'Poppins' !important;
}

/* Optional: Streamlit headers */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

.custom-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #f1f1f1;
        color: #333;
        text-align: center;
        padding: 10px;
        font-size: 14px;
        border-top: 1px solid #ccc;
}